In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
spark

your 131072x1 screen size is bogus. expect trouble
23/05/21 15:43:46 WARN Utils: Your hostname, DESKTOP-QQKQ81M resolves to a loopback address: 127.0.1.1; using 172.31.131.214 instead (on interface eth0)
23/05/21 15:43:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/21 15:43:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
# !wget https://data.cityofchicago.org/api/views/ijzp-q8t2/rows.csv?accessType=DOWNLOAD
# !mv rows.csv\?accessType\=DOWNLOAD data/chicago_crime_data.csv

In [7]:
from pyspark.sql.functions import to_timestamp, col, lit
df = spark.read.csv('../data/chicago_crime_data.csv', header=True).withColumn('Date'), to_timestamp(col('Date'), 'MM/dd/yyyy hh:mm:ss a')).filter(col('Date') <= lit('2018-11-11'))
df.show(5)

+--------+-----------+-------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|               Date|               Block|IUCR|Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|10224738|   HY411648|2015-09-05 13:30:00|     043XX S WOOD ST|0486|     BATTERY|DOMESTIC BATTERY ...|           RESIDENCE| false|    true|0924|     009|  12|            61|     08B|     1165074|     1875917|2015|02/10/2018 03:50:...|41.815117282|-87.669999562|(41.815117282, -8...|
|10224739|   HY411615|2015-09-04 11:30:00| 008XX N CENTRAL AVE|0870|       THEFT|      POCKET-PICKING|             CTA BUS| false|   false|1511|     015|  29|            25|      06|     1138875|     1904869|2015|02/10/2018 03:50:...|41.895080471|-87.765400451|(41.895080471, -8...|
|11646166|   JC213529|2018-09-01 00:01:00|082XX S INGLESIDE...|0810|       THEFT|           OVER $500|           RESIDENCE| false|    true|0631|     006|   8|            44|      06|        null|        null|2018|04/06/2019 04:04:...|        null|         null|                null|
|10224740|   HY411595|2015-09-05 12:45:00|   035XX W BARRY AVE|2023|   NARCOTICS|POSS: HEROIN(BRN/...|            SIDEWALK|  true|   false|1412|     014|  35|            21|      18|     1152037|     1920384|2015|02/10/2018 03:50:...|41.937405765|-87.716649687|(41.937405765, -8...|
|10224741|   HY411610|2015-09-05 13:00:00| 0000X N LARAMIE AVE|0560|     ASSAULT|              SIMPLE|           APARTMENT| false|    true|1522|     015|  28|            25|     08A|     1141706|     1900086|2015|02/10/2018 03:50:...|41.881903443|-87.755121152|(41.881903443, -8...|
+--------+-----------+-------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 5 rows

In [8]:
df.dtypes

[('ID', 'string'),
 ('Case Number', 'string'),
 ('Date', 'timestamp'),
 ('Block', 'string'),
 ('IUCR', 'string'),
 ('Primary Type', 'string'),
 ('Description', 'string'),
 ('Location Description', 'string'),
 ('Arrest', 'string'),
 ('Domestic', 'string'),
 ('Beat', 'string'),
 ('District', 'string'),
 ('Ward', 'string'),
 ('Community Area', 'string'),
 ('FBI Code', 'string'),
 ('X Coordinate', 'string'),
 ('Y Coordinate', 'string'),
 ('Year', 'string'),
 ('Updated On', 'string'),
 ('Latitude', 'string'),
 ('Longitude', 'string'),
 ('Location', 'string')]

In [9]:
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: string (nullable = true)
 |-- Domestic: string (nullable = true)
 |-- Beat: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Ward: string (nullable = true)
 |-- Community Area: string (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: string (nullable = true)
 |-- Y Coordinate: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Updated On: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Location: string (nullable = true)

## Testing Schemas

In [30]:
from pyspark.sql.types import StructField, StructType, BooleanType, TimestampType, DoubleType, IntegerType, StringType

In [105]:
labels = [
    ('ID', IntegerType()),
    ('Case Number', StringType()),
    ('Date', TimestampType()),
    ('Block', StringType()),
    ('IUCR', IntegerType()),
    ('Primary Type', StringType()),
    ('Description', StringType()),
    ('Location Description', StringType()),
    ('Arrest', BooleanType()),
    ('Domestic', BooleanType()),
    ('Beat', IntegerType()),
    ('District', IntegerType()),
    ('Ward', IntegerType()),
    ('Community Area', IntegerType()),
    ('FBI Code', StringType()),
    ('X Coordinate', IntegerType()),
    ('Y Coordinate', IntegerType()),
    ('Year', IntegerType()),
    ('Updated On', TimestampType()),
    ('Latitude', DoubleType()),
    ('Longitude', DoubleType()),
    ('Location', StringType())]

colunas = []
tipos = []
for x in labels:
    colunas.append(x[0])
    tipos.append(x[1])

In [96]:
nulos = []
for x in df.columns:
    if df.filter(col(x).isNull()).count():
        nulos.append('true')
    else:
        nulos.append('false')

In [106]:
all_together = list(zip(colunas, tipos, nulos))

In [107]:
schema = StructType([StructField(x[0], x[1], True) for x in all_together])
schema

StructType([StructField('ID', IntegerType(), True), StructField('Case Number', StringType(), True), StructField('Date', TimestampType(), True), StructField('Block', StringType(), True), StructField('IUCR', IntegerType(), True), StructField('Primary Type', StringType(), True), StructField('Description', StringType(), True), StructField('Location Description', StringType(), True), StructField('Arrest', BooleanType(), True), StructField('Domestic', BooleanType(), True), StructField('Beat', IntegerType(), True), StructField('District', IntegerType(), True), StructField('Ward', IntegerType(), True), StructField('Community Area', IntegerType(), True), StructField('FBI Code', StringType(), True), StructField('X Coordinate', IntegerType(), True), StructField('Y Coordinate', IntegerType(), True), StructField('Year', IntegerType(), True), StructField('Updated On', TimestampType(), True), StructField('Latitude', DoubleType(), True), StructField('Longitude', DoubleType(), True), StructField('Location', StringType(), True)])

In [230]:
df = spark.read.csv('../data/chicago_crime_data.csv', schema=schema)
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: integer (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: boolean (nullable = true)
 |-- Domestic: boolean (nullable = true)
 |-- Beat: integer (nullable = true)
 |-- District: integer (nullable = true)
 |-- Ward: integer (nullable = true)
 |-- Community Area: integer (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: integer (nullable = true)
 |-- Y Coordinate: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Updated On: timestamp (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Location: string (nullable = true)

In [231]:
df.show(5, truncate=False)

+--------+-----------+----+---------------------+----+------------+-----------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------+------------+-------------+-----------------------------+
|ID      |Case Number|Date|Block                |IUCR|Primary Type|Description            |Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|Updated On|Latitude    |Longitude    |Location                     |
+--------+-----------+----+---------------------+----+------------+-----------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------+------------+-------------+-----------------------------+
|null    |Case Number|null|Block                |null|Primary Type|Description            |Location Description|null  |null    |null|null    |null|null          |FBI Code|null        |null        |null|null      |null        |null         |Location                     |
|10224738|HY411648   |null|043XX S WOOD ST      |486 |BATTERY     |DOMESTIC BATTERY SIMPLE|RESIDENCE           |false |true    |924 |9       |12  |61            |08B     |1165074     |1875917     |2015|null      |41.815117282|-87.669999562|(41.815117282, -87.669999562)|
|10224739|HY411615   |null|008XX N CENTRAL AVE  |870 |THEFT       |POCKET-PICKING         |CTA BUS             |false |false   |1511|15      |29  |25            |06      |1138875     |1904869     |2015|null      |41.895080471|-87.765400451|(41.895080471, -87.765400451)|
|11646166|JC213529   |null|082XX S INGLESIDE AVE|810 |THEFT       |OVER $500              |RESIDENCE           |false |true    |631 |6       |8   |44            |06      |null        |null        |2018|null      |null        |null         |null                         |
|10224740|HY411595   |null|035XX W BARRY AVE    |2023|NARCOTICS   |POSS: HEROIN(BRN/TAN)  |SIDEWALK            |true  |false   |1412|14      |35  |21            |18      |1152037     |1920384     |2015|null      |41.937405765|-87.716649687|(41.937405765, -87.716649687)|
+--------+-----------+----+---------------------+----+------------+-----------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------+------------+-------------+-----------------------------+
only showing top 5 rows

## Working with Columns

In [110]:
df.Description

Column<'Description'>

In [111]:
df['Description']

Column<'Description'>

In [112]:
df.select(col('Description'))

DataFrame[Description: string]

In [118]:
df.select('Description', 'Location').show(5)

+--------------------+--------------------+
|         Description|            Location|
+--------------------+--------------------+
|         Description|            Location|
|DOMESTIC BATTERY ...|(41.815117282, -8...|
|      POCKET-PICKING|(41.895080471, -8...|
|           OVER $500|                null|
|POSS: HEROIN(BRN/...|(41.937405765, -8...|
+--------------------+--------------------+
only showing top 5 rows

In [144]:
#adding a column based on another column
df = df.withColumn('DoubleColumn', 2*df['Year'])
df.select('Year', 'DoubleColumn').show(5)

+----+------------+
|Year|DoubleColumn|
+----+------------+
|null|        null|
|2015|        4030|
|2015|        4030|
|2018|        4036|
|2015|        4030|
+----+------------+
only showing top 5 rows

In [145]:
#renaming a column
df = df.withColumnRenamed('DoubleColumn', 'YearTimesTwo')
df.select('YearTimesTwo').show(5)

+------------+
|YearTimesTwo|
+------------+
|        null|
|        4030|
|        4030|
|        4036|
|        4030|
+------------+
only showing top 5 rows

In [147]:
#dropping a column
df = df.drop('YearTimesTwo')

## Working with rows

In [151]:
#filtering rows
df.filter(col('Year') > 2000).show(5)

+--------+-----------+----+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------+------------+-------------+--------------------+
|      ID|Case Number|Date|               Block|IUCR|Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+----+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------+------------+-------------+--------------------+
|10224738|   HY411648|null|     043XX S WOOD ST| 486|     BATTERY|DOMESTIC BATTERY ...|           RESIDENCE| false|    true| 924|       9|  12|            61|     08B|     1165074|     1875917|2015|      null|41.815117282|-87.669999562|(41.815117282, -8...|
|10224739|   HY411615|null| 008XX N CENTRAL AVE| 870|       THEFT|      POCKET-PICKING|             CTA BUS| false|   false|1511|      15|  29|            25|      06|     1138875|     1904869|2015|      null|41.895080471|-87.765400451|(41.895080471, -8...|
|11646166|   JC213529|null|082XX S INGLESIDE...| 810|       THEFT|           OVER $500|           RESIDENCE| false|    true| 631|       6|   8|            44|      06|        null|        null|2018|      null|        null|         null|                null|
|10224740|   HY411595|null|   035XX W BARRY AVE|2023|   NARCOTICS|POSS: HEROIN(BRN/...|            SIDEWALK|  true|   false|1412|      14|  35|            21|      18|     1152037|     1920384|2015|      null|41.937405765|-87.716649687|(41.937405765, -8...|
|10224741|   HY411610|null| 0000X N LARAMIE AVE| 560|     ASSAULT|              SIMPLE|           APARTMENT| false|    true|1522|      15|  28|            25|     08A|     1141706|     1900086|2015|      null|41.881903443|-87.755121152|(41.881903443, -8...|
+--------+-----------+----+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------+------------+-------------+--------------------+
only showing top 5 rows

In [152]:
#unique values
df.select('Year').distinct().show()

+----+
|Year|
+----+
|2003|
|2007|
|2018|
|2015|
|2023|
|2006|
|2022|
|2013|
|null|
|2014|
|2019|
|2004|
|2020|
|2012|
|2009|
|2016|
|2001|
|2005|
|2010|
|2011|
+----+
only showing top 20 rows

In [154]:
#sorting rows
df.orderBy(col('Year')).select('Year').show(5)

+----+
|Year|
+----+
|null|
|2001|
|2001|
|2001|
|2001|
+----+
only showing top 5 rows

In [158]:
#unique and order by
df.select('Year').distinct().orderBy(col('Year')).select('Year').show()

+----+
|Year|
+----+
|null|
|2001|
|2002|
|2003|
|2004|
|2005|
|2006|
|2007|
|2008|
|2009|
|2010|
|2011|
|2012|
|2013|
|2014|
|2015|
|2016|
|2017|
|2018|
|2019|
+----+
only showing top 20 rows

In [170]:
#appending rows
df = spark.read.csv('../data/chicago_crime_data.csv', header=True).withColumn('Date', to_timestamp(col('Date'), 'MM/dd/yyyy hh:mm:ss a')).filter(col('Date') < lit('2018-11-11'))
print(df.count())
df2 = spark.read.csv('../data/chicago_crime_data.csv', header=True).withColumn('Date', to_timestamp(col('Date'), 'MM/dd/yyyy hh:mm:ss a')).filter(col('Date') == lit('2018-11-11'))
print(df2.count())

6756147

11

In [171]:
df = df.union(df2)
df.orderBy('Date', ascending=False).show(5)

+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|               Date|               Block|IUCR|      Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|11504097|   JB511773|2018-11-11 00:00:00|003XX S ST LOUIS AVE|1320|   CRIMINAL DAMAGE|          TO VEHICLE|              STREET| false|   false|1133|     011|  28|            27|      14|     1153064|     1898239|2018|11/18/2018 04:11:...|41.876617517|-87.713463403|(41.876617517, -8...|
|11595518|   JC152109|2018-11-11 00:00:00|043XX N GREENVIEW...|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|  SMALL RETAIL STORE| false|   false|1912|     019|  47|             6|      11|        null|        null|2018|02/15/2019 04:04:...|        null|         null|                null|
|11504126|   JB511829|2018-11-11 00:00:00|    012XX N NOBLE ST|1320|   CRIMINAL DAMAGE|          TO VEHICLE|              STREET| false|   false|1433|     014|   2|            24|      14|     1166828|     1908386|2018|11/18/2018 04:11:...|41.904177725|-87.662635226|(41.904177725, -8...|
|11504529|   JB512336|2018-11-11 00:00:00|     026XX W 21ST ST|1320|   CRIMINAL DAMAGE|          TO VEHICLE|              STREET| false|   false|1023|     010|  24|            30|      14|     1159124|     1889973|2018|11/18/2018 04:11:...|41.853812529| -87.69143988|(41.853812529, -8...|
|11504835|   JB512723|2018-11-11 00:00:00|011XX W GARFIELD ...|1305|   CRIMINAL DAMAGE| CRIMINAL DEFACEMENT|           RESIDENCE| false|   false|0712|     007|  16|            68|      14|     1169461|     1868186|2018|11/18/2018 04:11:...|41.793808521|-87.654131491|(41.793808521, -8...|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 5 rows

In [172]:
#top primary type of crimes
df.groupBy('Primary Type').count().orderBy('count', ascending=False).show()

+--------------------+-------+
|        Primary Type|  count|
+--------------------+-------+
|               THEFT|1418509|
|             BATTERY|1232278|
|     CRIMINAL DAMAGE| 771517|
|           NARCOTICS| 711770|
|       OTHER OFFENSE| 418903|
|             ASSAULT| 418521|
|            BURGLARY| 388041|
| MOTOR VEHICLE THEFT| 314133|
|  DECEPTIVE PRACTICE| 267073|
|             ROBBERY| 255602|
|   CRIMINAL TRESPASS| 193371|
|   WEAPONS VIOLATION|  70665|
|        PROSTITUTION|  68327|
|PUBLIC PEACE VIOL...|  47785|
|OFFENSE INVOLVING...|  46673|
| CRIM SEXUAL ASSAULT|  26476|
|         SEX OFFENSE|  25565|
|INTERFERENCE WITH...|  15140|
|            GAMBLING|  14422|
|LIQUOR LAW VIOLATION|  14068|
+--------------------+-------+
only showing top 20 rows

In [181]:
#what is the percentage of reported crimes that resulted in an arrest?
round((df.filter(col('Arrest')=='true').count() / df.count())*100,2)

27.75

In [182]:
#what are the top 3 locations for reported crimes?
df.groupBy('Location Description').count().orderBy('count', ascending=False).show(3)

+--------------------+-------+
|Location Description|  count|
+--------------------+-------+
|              STREET|1770624|
|           RESIDENCE|1146054|
|           APARTMENT| 699116|
+--------------------+-------+
only showing top 3 rows

# Working with Built-in functions

In [189]:
from pyspark.sql import functions
print(dir(functions))
help(substring)

['Any', 'ArrayType', 'Callable', 'Column', 'DataFrame', 'DataType', 'Dict', 'Iterable', 'JVMView', 'List', 'Optional', 'PandasUDFType', 'PySparkTypeError', 'PySparkValueError', 'PythonEvalType', 'SparkContext', 'StringType', 'StructType', 'TYPE_CHECKING', 'Tuple', 'Union', 'UserDefinedFunction', 'ValuesView', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_create_column_from_literal', '_create_lambda', '_create_py_udf', '_from_numpy_type', '_get_jvm_function', '_get_lambda_parameters', '_invoke_binary_math_function', '_invoke_function', '_invoke_function_over_columns', '_invoke_function_over_seq_of_columns', '_invoke_higher_order_function', '_options_to_str', '_test', '_to_java_column', '_to_seq', '_unresolved_named_lambda_variable', 'abs', 'acos', 'acosh', 'add_months', 'aggregate', 'approxCountDistinct', 'approx_count_distinct', 'array', 'array_append', 'array_compact', 'array_contains', 'array_distinct', 'array_except', 'array_insert', 'array_intersect', 'array_join', 'array_max', 'array_min', 'array_position', 'array_remove', 'array_repeat', 'array_sort', 'array_union', 'arrays_overlap', 'arrays_zip', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'ascii', 'asin', 'asinh', 'assert_true', 'atan', 'atan2', 'atanh', 'avg', 'base64', 'bin', 'bit_length', 'bitwiseNOT', 'bitwise_not', 'broadcast', 'bround', 'bucket', 'call_udf', 'cast', 'cbrt', 'ceil', 'coalesce', 'col', 'collect_list', 'collect_set', 'column', 'concat', 'concat_ws', 'conv', 'corr', 'cos', 'cosh', 'cot', 'count', 'countDistinct', 'count_distinct', 'covar_pop', 'covar_samp', 'crc32', 'create_map', 'csc', 'cume_dist', 'current_date', 'current_timestamp', 'date_add', 'date_format', 'date_sub', 'date_trunc', 'datediff', 'dayofmonth', 'dayofweek', 'dayofyear', 'days', 'decode', 'degrees', 'dense_rank', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'element_at', 'encode', 'exists', 'exp', 'explode', 'explode_outer', 'expm1', 'expr', 'factorial', 'filter', 'first', 'flatten', 'floor', 'forall', 'format_number', 'format_string', 'from_csv', 'from_json', 'from_unixtime', 'from_utc_timestamp', 'functools', 'get', 'get_active_spark_context', 'get_json_object', 'greatest', 'grouping', 'grouping_id', 'has_numpy', 'hash', 'hex', 'hour', 'hours', 'hypot', 'initcap', 'inline', 'inline_outer', 'input_file_name', 'inspect', 'instr', 'isnan', 'isnull', 'json_tuple', 'kurtosis', 'lag', 'last', 'last_day', 'lead', 'least', 'length', 'levenshtein', 'lit', 'localtimestamp', 'locate', 'log', 'log10', 'log1p', 'log2', 'lower', 'lpad', 'ltrim', 'make_date', 'map_concat', 'map_contains_key', 'map_entries', 'map_filter', 'map_from_arrays', 'map_from_entries', 'map_keys', 'map_values', 'map_zip_with', 'max', 'max_by', 'md5', 'mean', 'median', 'min', 'min_by', 'minute', 'mode', 'monotonically_increasing_id', 'month', 'months', 'months_between', 'nanvl', 'next_day', 'np', 'nth_value', 'ntile', 'octet_length', 'overlay', 'overload', 'pandas_udf', 'percent_rank', 'percentile_approx', 'pmod', 'posexplode', 'posexplode_outer', 'pow', 'product', 'quarter', 'radians', 'raise_error', 'rand', 'randn', 'rank', 'regexp_extract', 'regexp_replace', 'repeat', 'reverse', 'rint', 'round', 'row_number', 'rpad', 'rtrim', 'schema_of_csv', 'schema_of_json', 'sec', 'second', 'sentences', 'sequence', 'session_window', 'sha1', 'sha2', 'shiftLeft', 'shiftRight', 'shiftRightUnsigned', 'shiftleft', 'shiftright', 'shiftrightunsigned', 'shuffle', 'signum', 'sin', 'sinh', 'size', 'skewness', 'slice', 'sort_array', 'soundex', 'spark_partition_id', 'split', 'sqrt', 'stddev', 'stddev_pop', 'stddev_samp', 'struct', 'substring', 'substring_index', 'sum', 'sumDistinct', 'sum_distinct', 'sys', 'tan', 'tanh', 'timestamp_seconds', 'toDegrees', 'toRadians', 'to_csv', 'to_date', 'to_json', 'to_str', 'to_timestamp', 'to_utc_timestamp', 'transform', 'transform_keys', 'transform_values', 'translate', 'trim', 'trunc', 'try_remote_functions', 'udf', 'unbase64', 'unhex', 'unix_timestamp', 'unwrap_udt', 'upper', 'var_pop', 'var_samp', 'variance', 'warnings', 'weekofyear', 'when', 'window', 'window_time', 'xxhash64', 'year', 'years', 'zip_with']
Help on function substring in module pyspark.sql.functions:

substring(str: 'ColumnOrName', pos: int, len: int) -> pyspark.sql.column.Column
    Substring starts at `pos` and is of length `len` when str is String type or
    returns the slice of byte array that starts at `pos` in byte and is of length `len`
    when str is Binary type.

    .. versionadded:: 1.5.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Notes
    -----
    The position is not zero based, but 1 based index.

    Parameters
    ----------
    str : :class:`~pyspark.sql.Column` or str
        target column to work on.
    pos : int
        starting position in str.
    len : int
        length of chars.

    Returns
    -------
    :class:`~pyspark.sql.Column`
        substring of given value.

    Examples
    --------
    >>> df = spark.createDataFrame([('abcd',)], ['s',])
    >>> df.select(substring(df.s, 1, 2).alias('s')).collect()
    [Row(s='ab')]

In [190]:
#Display the primary type column in lower and upper characteres, and the first 4 characteres of the column
from pyspark.sql.functions import lower, upper, substring
df.select(lower(col('Primary Type')), upper(col('Primary Type')), substring(col('Primary Type'), 1, 4)).show(5)

+-------------------+-------------------+-----------------------------+
|lower(Primary Type)|upper(Primary Type)|substring(Primary Type, 1, 4)|
+-------------------+-------------------+-----------------------------+
|            battery|            BATTERY|                         BATT|
|              theft|              THEFT|                         THEF|
|              theft|              THEFT|                         THEF|
|          narcotics|          NARCOTICS|                         NARC|
|            assault|            ASSAULT|                         ASSA|
+-------------------+-------------------+-----------------------------+
only showing top 5 rows

In [191]:
#show the oldest date and the most recent date
from pyspark.sql.functions import min, max
df.select(min(col('Date')), max(col('Date'))).show(1)

+-------------------+-------------------+
|          min(Date)|          max(Date)|
+-------------------+-------------------+
|2001-01-01 00:00:00|2018-11-11 00:00:00|
+-------------------+-------------------+

In [194]:
#what is 3 days earlier than the oldest date and 3 days later than the most recent date?
from pyspark.sql.functions import date_add, date_sub
df.select(date_sub(min(col('Date')), 3), date_add(max(col('Date')), 3)).show()

+----------------------+----------------------+
|date_sub(min(Date), 3)|date_add(max(Date), 3)|
+----------------------+----------------------+
|            2000-12-29|            2018-11-14|
+----------------------+----------------------+

In [196]:
# working with dates
from pyspark.sql.functions import to_date, to_timestamp, lit

In [201]:
df = spark.createDataFrame(
    [('2019-12-25 13:30:00', )], ['Christmas']
)
df.show()

+-------------------+
|          Christmas|
+-------------------+
|2019-12-25 13:30:00|
+-------------------+

In [206]:
df.select(to_date(col('Christmas')), to_timestamp(col('Christmas'))).show()

+------------------+-----------------------+
|to_date(Christmas)|to_timestamp(Christmas)|
+------------------+-----------------------+
|        2019-12-25|    2019-12-25 13:30:00|
+------------------+-----------------------+

In [207]:
df = spark.createDataFrame(
    [('25/dec/2019 13:30:00',)], ['Christmas']
)
df.show()

+--------------------+
|           Christmas|
+--------------------+
|25/dec/2019 13:30:00|
+--------------------+

In [215]:
df.select(to_date(col('Christmas'), 'dd/MMM/yyyy HH:mm:ss'), to_timestamp(col('Christmas'), 'dd/MMM/yyyy HH:mm:ss')).show()

+----------------------------------------+---------------------------------------------+
|to_date(Christmas, dd/MMM/yyyy HH:mm:ss)|to_timestamp(Christmas, dd/MMM/yyyy HH:mm:ss)|
+----------------------------------------+---------------------------------------------+
|                              2019-12-25|                          2019-12-25 13:30:00|
+----------------------------------------+---------------------------------------------+

In [218]:
df = spark.createDataFrame(
    [('12/25/2019 01:30:00 PM',)], ['Christmas']
)
df.show(1, truncate=False)

+----------------------+
|Christmas             |
+----------------------+
|12/25/2019 01:30:00 PM|
+----------------------+

In [227]:
df.select(to_date(col('Christmas'), 'MM/dd/yyyy hh:mm:ss a'), to_timestamp(col('Christmas'), 'MM/dd/yyyy hh:mm:ss a')).show()

+-----------------------------------------+----------------------------------------------+
|to_date(Christmas, MM/dd/yyyy hh:mm:ss a)|to_timestamp(Christmas, MM/dd/yyyy hh:mm:ss a)|
+-----------------------------------------+----------------------------------------------+
|                               2019-12-25|                           2019-12-25 13:30:00|
+-----------------------------------------+----------------------------------------------+

+--------+-----------+----------------------+---------------------+----+------------+-----------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------------------+------------+-------------+-----------------------------+
|ID      |Case Number|Date                  |Block                |IUCR|Primary Type|Description            |Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|Updated On            |Latitude    |Longitude    |Location                     |
+--------+-----------+----------------------+---------------------+----+------------+-----------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------------------+------------+-------------+-----------------------------+
|10224738|HY411648   |09/05/2015 01:30:00 PM|043XX S WOOD ST      |0486|BATTERY     |DOMESTIC BATTERY SIMPLE|RESIDENCE           |false |true    |0924|009     |12  |61            |08B     |1165074     |1875917     |2015|02/10/2018 03:50:01 PM|41.815117282|-87.669999562|(41.815117282, -87.669999562)|
|10224739|HY411615   |09/04/2015 11:30:00 AM|008XX N CENTRAL AVE  |0870|THEFT       |POCKET-PICKING         |CTA BUS             |false |false   |1511|015     |29  |25            |06      |1138875     |1904869     |2015|02/10/2018 03:50:01 PM|41.895080471|-87.765400451|(41.895080471, -87.765400451)|
|11646166|JC213529   |09/01/2018 12:01:00 AM|082XX S INGLESIDE AVE|0810|THEFT       |OVER $500              |RESIDENCE           |false |true    |0631|006     |8   |44            |06      |null        |null        |2018|04/06/2019 04:04:43 PM|null        |null         |null                         |
|10224740|HY411595   |09/05/2015 12:45:00 PM|035XX W BARRY AVE    |2023|NARCOTICS   |POSS: HEROIN(BRN/TAN)  |SIDEWALK            |true  |false   |1412|014     |35  |21            |18      |1152037     |1920384     |2015|02/10/2018 03:50:01 PM|41.937405765|-87.716649687|(41.937405765, -87.716649687)|
|10224741|HY411610   |09/05/2015 01:00:00 PM|0000X N LARAMIE AVE  |0560|ASSAULT     |SIMPLE                 |APARTMENT           |false |true    |1522|015     |28  |25            |08A     |1141706     |1900086     |2015|02/10/2018 03:50:01 PM|41.881903443|-87.755121152|(41.881903443, -87.755121152)|
+--------+-----------+----------------------+---------------------+----+------------+-----------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------------------+------------+-------------+-----------------------------+
only showing top 5 rows

### Working with joins

In [4]:
from pyspark.sql.functions import to_timestamp, col, lit
df = spark.read.csv('../data/chicago_crime_data.csv', header=True).withColumn('Date', to_timestamp(col('Date'), 'MM/dd/yyyy hh:mm:ss a'))
df.show(5, truncate=False)

+--------+-----------+-------------------+---------------------+----+------------+-----------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------------------+------------+-------------+-----------------------------+
|ID      |Case Number|Date               |Block                |IUCR|Primary Type|Description            |Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|Updated On            |Latitude    |Longitude    |Location                     |
+--------+-----------+-------------------+---------------------+----+------------+-----------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------------------+------------+-------------+-----------------------------+
|10224738|HY411648   |2015-09-05 13:30:00|043XX S WOOD ST      |0486|BATTERY     |DOMESTIC BATTERY SIMPLE|RESIDENCE           |false |true    |0924|009     |12  |61            |08B     |1165074     |1875917     |2015|02/10/2018 03:50:01 PM|41.815117282|-87.669999562|(41.815117282, -87.669999562)|
|10224739|HY411615   |2015-09-04 11:30:00|008XX N CENTRAL AVE  |0870|THEFT       |POCKET-PICKING         |CTA BUS             |false |false   |1511|015     |29  |25            |06      |1138875     |1904869     |2015|02/10/2018 03:50:01 PM|41.895080471|-87.765400451|(41.895080471, -87.765400451)|
|11646166|JC213529   |2018-09-01 00:01:00|082XX S INGLESIDE AVE|0810|THEFT       |OVER $500              |RESIDENCE           |false |true    |0631|006     |8   |44            |06      |null        |null        |2018|04/06/2019 04:04:43 PM|null        |null         |null                         |
|10224740|HY411595   |2015-09-05 12:45:00|035XX W BARRY AVE    |2023|NARCOTICS   |POSS: HEROIN(BRN/TAN)  |SIDEWALK            |true  |false   |1412|014     |35  |21            |18      |1152037     |1920384     |2015|02/10/2018 03:50:01 PM|41.937405765|-87.716649687|(41.937405765, -87.716649687)|
|10224741|HY411610   |2015-09-05 13:00:00|0000X N LARAMIE AVE  |0560|ASSAULT     |SIMPLE                 |APARTMENT           |false |true    |1522|015     |28  |25            |08A     |1141706     |1900086     |2015|02/10/2018 03:50:01 PM|41.881903443|-87.755121152|(41.881903443, -87.755121152)|
+--------+-----------+-------------------+---------------------+----+------------+-----------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------------------+------------+-------------+-----------------------------+
only showing top 5 rows

In [5]:
# !wget -O police-station.csv https://data.cityofchicago.org/api/views/z8bn-74gv/rows.csv?accessType=DOWNLOAD
# !mv police-station.csv ../data/police_station.csv

In [6]:
df2 = spark.read.csv('../data/police_station.csv', header=True)
df2.show(5, truncate=False)

+------------+-------------+-------------------+-------+-----+-----+----------------------------------------------------------------------------+------------+------------+------------+------------+------------+-----------+------------+-------------------------------+
|DISTRICT    |DISTRICT NAME|ADDRESS            |CITY   |STATE|ZIP  |WEBSITE                                                                     |PHONE       |FAX         |TTY         |X COORDINATE|Y COORDINATE|LATITUDE   |LONGITUDE   |LOCATION                       |
+------------+-------------+-------------------+-------+-----+-----+----------------------------------------------------------------------------+------------+------------+------------+------------+------------+-----------+------------+-------------------------------+
|Headquarters|Headquarters |3510 S Michigan Ave|Chicago|IL   |60653|http://home.chicagopolice.org                                               |null        |null        |null        |1177731.401 |1881697.404 |41.83070169|-87.62339535|(41.8307016873, -87.6233953459)|
|18          |Near North   |1160 N Larrabee St |Chicago|IL   |60610|http://home.chicagopolice.org/community/districts/18th-district-near-north/ |312-742-5870|312-742-5771|312-742-5773|1172080.029 |1908086.527 |41.90324165|-87.64335214|(41.9032416531, -87.6433521393)|
|19          |Town Hall    |850 W Addison St   |Chicago|IL   |60613|http://home.chicagopolice.org/community/districts/19th-district-town-hall/  |312-744-8320|312-744-4481|312-744-8011|1169730.744 |1924160.317 |41.94740046|-87.65151202|(41.9474004564, -87.651512018) |
|20          |Lincoln      |5400 N Lincoln Ave |Chicago|IL   |60625|http://home.chicagopolice.org/community/districts/20th-district-lincoln/    |312-742-8714|312-742-8803|312-742-8841|1158399.146 |1935788.826 |41.97954951|-87.69284451|(41.9795495131, -87.6928445094)|
|22          |Morgan Park  |1900 W Monterey Ave|Chicago|IL   |60643|http://home.chicagopolice.org/community/districts/22nd-district-morgan-park/|312-745-0710|312-745-0814|312-745-0569|1165825.476 |1830851.333 |41.69143478|-87.66852039|(41.6914347795, -87.6685203937)|
+------------+-------------+-------------------+-------+-----+-----+----------------------------------------------------------------------------+------------+------------+------------+------------+------------+-----------+------------+-------------------------------+
only showing top 5 rows

In [7]:
#caching the dataframe
# df.cache()
# df.count()

In [9]:
df2.select(col('DISTRICT')).distinct().show()

+------------+
|    DISTRICT|
+------------+
|           7|
|          15|
|          11|
|           3|
|           8|
|          22|
|          16|
|           5|
|          18|
|          17|
|           6|
|          19|
|          25|
|Headquarters|
|          24|
|           9|
|           1|
|          20|
|          10|
|           4|
+------------+
only showing top 20 rows

In [10]:
df.select(col('district')).distinct().show()

+--------+
|district|
+--------+
|     009|
|     012|
|     024|
|     031|
|     015|
|     006|
|     019|
|     020|
|     011|
|     025|
|     005|
|     003|
|     016|
|     018|
|     008|
|     022|
|     001|
|     014|
|     010|
|     004|
+--------+
only showing top 20 rows

In [11]:
#since in the crime reports have zeros at left, we need to look for a built-in function, otherwise we must create one
from pyspark.sql.functions import lpad
df2.select(lpad(col('DISTRICT'),3,'0')).show()

+--------------------+
|lpad(DISTRICT, 3, 0)|
+--------------------+
|                 Hea|
|                 018|
|                 019|
|                 020|
|                 022|
|                 024|
|                 025|
|                 001|
|                 002|
|                 003|
|                 004|
|                 005|
|                 006|
|                 007|
|                 008|
|                 009|
|                 010|
|                 011|
|                 012|
|                 ",C|
+--------------------+
only showing top 20 rows

In [12]:
#lets create a new column with this new format
df2 = df2.withColumn('DistrictPadded', lpad(col('DISTRICT'),3,'0'))
df2.show(5)

+------------+-------------+-------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+--------------+
|    DISTRICT|DISTRICT NAME|            ADDRESS|   CITY|STATE|  ZIP|             WEBSITE|       PHONE|         FAX|         TTY|X COORDINATE|Y COORDINATE|   LATITUDE|   LONGITUDE|            LOCATION|DistrictPadded|
+------------+-------------+-------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+--------------+
|Headquarters| Headquarters|3510 S Michigan Ave|Chicago|   IL|60653|http://home.chica...|        null|        null|        null| 1177731.401| 1881697.404|41.83070169|-87.62339535|(41.8307016873, -...|           Hea|
|          18|   Near North| 1160 N Larrabee St|Chicago|   IL|60610|http://home.chica...|312-742-5870|312-742-5771|312-742-5773| 1172080.029| 1908086.527|41.90324165|-87.64335214|(41.9032416531, -...|           018|
|          19|    Town Hall|   850 W Addison St|Chicago|   IL|60613|http://home.chica...|312-744-8320|312-744-4481|312-744-8011| 1169730.744| 1924160.317|41.94740046|-87.65151202|(41.9474004564, -...|           019|
|          20|      Lincoln| 5400 N Lincoln Ave|Chicago|   IL|60625|http://home.chica...|312-742-8714|312-742-8803|312-742-8841| 1158399.146| 1935788.826|41.97954951|-87.69284451|(41.9795495131, -...|           020|
|          22|  Morgan Park|1900 W Monterey Ave|Chicago|   IL|60643|http://home.chica...|312-745-0710|312-745-0814|312-745-0569| 1165825.476| 1830851.333|41.69143478|-87.66852039|(41.6914347795, -...|           022|
+------------+-------------+-------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+--------------+
only showing top 5 rows

In [15]:
#lets join both dataframes to see all of the reports that are in the police station df
df.join(df2, df.District == df2.DistrictPadded, 'left_outer').show()

23/05/21 16:29:56 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+--------+--------------+--------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+--------------+
|      ID|Case Number|               Date|               Block|IUCR|      Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|DISTRICT| DISTRICT NAME|             ADDRESS|   CITY|STATE|  ZIP|             WEBSITE|       PHONE|         FAX|         TTY|X COORDINATE|Y COORDINATE|   LATITUDE|   LONGITUDE|            LOCATION|DistrictPadded|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+--------+--------------+--------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+--------------+
|10224738|   HY411648|2015-09-05 13:30:00|     043XX S WOOD ST|0486|           BATTERY|DOMESTIC BATTERY ...|           RESIDENCE| false|    true|0924|     009|  12|            61|     08B|     1165074|     1875917|2015|02/10/2018 03:50:...|41.815117282|-87.669999562|(41.815117282, -8...|       9|       Deering|   3120 S Halsted St|Chicago|   IL|60608|http://home.chica...|312-747-8227|312-747-5329|312-747-9172|  1171440.24| 1884085.224|41.83739443|-87.64640771|(41.8373944311, -...|           009|
|10224739|   HY411615|2015-09-04 11:30:00| 008XX N CENTRAL AVE|0870|             THEFT|      POCKET-PICKING|             CTA BUS| false|   false|1511|     015|  29|            25|      06|     1138875|     1904869|2015|02/10/2018 03:50:...|41.895080471|-87.765400451|(41.895080471, -8...|      15|        Austin|   5701 W Madison St|Chicago|   IL|60644|http://home.chica...|312-743-1440|312-743-1366|312-743-1485| 1138148.815| 1899399.078|41.88008346|-87.76819989|(41.8800834614, -...|           015|
|11646166|   JC213529|2018-09-01 00:01:00|082XX S INGLESIDE...|0810|             THEFT|           OVER $500|           RESIDENCE| false|    true|0631|     006|   8|            44|      06|        null|        null|2018|04/06/2019 04:04:...|        null|         null|                null|       6|       Gresham|   7808 S Halsted St|Chicago|   IL|60620|http://home.chica...|312-745-3617|312-745-3649|312-745-3639| 1172283.013| 1853022.646|41.75213684|-87.64422891|(41.7521368378, -...|           006|
|10224740|   HY411595|2015-09-05 12:45:00|   035XX W BARRY AVE|2023|         NARCOTICS|POSS: HEROIN(BRN/...|            SIDEWALK|  true|   false|1412|     014|  35|            21|      18|     1152037|     1920384|2015|02/10/2018 03:50:...|41.937405765|-87.716649687|(41.937405765, -8...|      14|   Shakespeare|2150 N California...|Chicago|   IL|60647|http://home.chica...|312-744-8250|312-744-2422|312-744-8260| 1157304.426| 1914481.521|41.92110332|-87.69745182|(41.9211033246, -...|           014|
|10224741|   HY411610|2015-09-05 13:00:00| 0000X N LARAMIE AVE|0560|           ASSAULT|              SIMPLE|           APARTMENT| false|    true|1522|     015|  28|            25|     08A|     1141706|     1900086|2015|02/10/2018 03:50:...|41.881903443|-87.755121152|(41.881903443, -8...|      15|        Austin|   5701 W Madison St|Chicago|   IL|60644|http://home.chica...|312-743-1440|312-743-1366|312-743-1485| 1138148.815| 1899399.078|41.88008346|-87.76819989|(41.8800834614, -...|           015|
|10224742|   HY411435|2015-09-05 10:55:00| 082XX S LOOMIS BLVD|0610|          BURGLARY|      FORCIBLE ENTRY|           RESIDENCE| false|   false|0614|     006|  21|            71|      05|     1168430|     1850165|2015|02/10/2018 03:50:...|41.744378879|-87.658430635|(41.744378879, -8...|       6|       Gresham|   7808 S Halsted St|Chicago|   IL|60620|http://home.chica...|312-745-3617|312-745-3649|312-745-3639| 1172283.013| 1853022.646|41.75213684|-87.64422891|(41.7521368378, -...|           006|
|10224743|   HY411629|2015-09-04 18:00:00|021XX W CHURCHILL ST|0620|          BURGLARY|      UNLAWFUL ENTRY|    RESIDENCE-GARAGE| false|   false|1434|     014|  32|            24|      05|     1161628|     1912157|2015|02/10/2018 03:50:...|41.914635603|-87.681630909|(41.914635603, -8...|      14|   Shakespeare|2150 N California...|Chicago|   IL|60647|http://home.chica...|312-744-8250|312-744-2422|312-744-8260| 1157304.426| 1914481.521|41.92110332|-87.69745182|(41.9211033246, -...|           014|
|10224744|   HY411605|2015-09-05 13:00:00|   025XX W CERMAK RD|0860|             THEFT|        RETAIL THEFT|  GROCERY FOOD STORE|  true|   false|1034|     010|  25|            31|      06|     1159734|     1889313|2015|09/17/2015 11:37:...|41.851988885|-87.689219118|(41.851988885, -8...|      10|         Ogden|    3315 W Ogden Ave|Chicago|   IL|60623|http://home.chica...|312-747-7511|312-747-7429|312-747-7471| 1154500.753| 1890985.501|41.85668453|-87.70838196|(41.8566845327, -...|           010|
|10224745|   HY411654|2015-09-05 11:30:00|031XX W WASHINGTO...|0320|           ROBBERY|STRONGARM - NO WE...|              STREET| false|    true|1222|     012|  27|            27|      03|     1155536|     1900515|2015|02/10/2018 03:50:...| 41.88281374|-87.704325717|(41.88281374, -87...|      12|     Near West|1412 S Blue Islan...|   null| null| null|                null|        null|        null|        null|        null|        null|       null|        null|                null|           012|
|11645836|   JC212333|2016-05-01 00:25:00| 055XX S ROCKWELL ST|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                null| false|   false|0824|     008|  15|            63|      11|        null|        null|2016|04/06/2019 04:04:...|        null|         null|                null|       8|  Chicago Lawn|      3420 W 63rd St|Chicago|   IL|60629|http://home.chica...|312-747-8730|312-747-8545|312-747-8116| 1154575.242| 1862672.049|41.77898719|-87.70886382|(41.778987189, -8...|           008|
|10224746|   HY411662|2015-09-05 14:00:00|  071XX S PULASKI RD|0820|             THEFT|      $500 AND UNDER|PARKING LOT/GARAG...| false|   false|0833|     008|  13|            65|      06|     1150938|     1857056|2015|02/10/2018 03:50:...|41.763647552|-87.722344693|(41.763647552, -8...|       8|  Chicago Lawn|      3420 W 63rd St|Chicago|   IL|60629|http://home.chica...|312-747-8730|312-747-8545|312-747-8116| 1154575.242| 1862672.049|41.77898719|-87.70886382|(41.778987189, -8...|           008|
|10224749|   HY411626|2015-09-05 11:00:00|052XX N MILWAUKEE...|0460|           BATTERY|              SIMPLE|  SMALL RETAIL STORE| false|   false|1623|     016|  45|            11|     08B|     1137969|     1934340|2015|02/10/2018 03:50:...|41.975968415|-87.768014257|(41.975968415, -8...|      16|Jefferson Park|5151 N Milwaukee Ave|Chicago|   IL|60630|http://home.chica...|312-742-4480|312-742-4421|312-742-4423| 1138480.758| 1933660.473|41.97409445|-87.76614884|(41.9740944511, -...|           016|
|10224750|   HY411632|2015-09-05 03:00:00|    0000X W 103RD ST|2820|     OTHER OFFENSE|    TELEPHONE THREAT|           APARTMENT| false|    true|0512|     005|  34|            49|      26|     1177871|     1836676|2015|02/10/2018 03:50:...|41.707154919|-87.624244993|(41.707154919, -8...|       5|       Calumet|      727 E 111th St|Chicago|   IL|60628|http://home.chica...|312-747-8210|312-747-5935|312-747-9170| 1183305.427| 1831462.313|41.69272336|-87.60450587|(41.6927233639, -...|           005|
|10224751|   HY411566|2015-09-05 12:50:00|     013XX E 47TH ST|0486|           BATTERY|DOMESTIC BATTERY ...|              STREET| false|    true|0222|     002|   4|            39|     08B|     1185907|     1874105|2015|02/10/2018 03:50:...|41.809678314|-87.593638934|(41.809678314, -8...|       2|     Wentworth|5101 S Wentworth Ave|Chicago|   IL|60609|http://home.chica...|312-747-8366|312-747-5396|312-747-6656| 1175864.837| 1871153.753|41.80181109|-87.63056018|(41.8018110912, -...|           002|
|10224752|   HY411601|2015-09-03 13:00:00| 020XX W SCHILLER ST|0810|             THEFT|           OVER $500|              STREET| false|   false|1424|     014|   1|            24|      06|     1162574|     1909428|2015|02/10/2018 03:50:...|41.907127255|-87.678232016|(41.907127255, -8...|      14|   Shakespeare|2150 N California...|Chicago|   IL|60647|http://home.chica...|312-744-8250|312-744-2422|312-744-8260| 1157304.426| 1914481.521|41.92110332|-87.69745182|(41.9211033246, -...|           014|
|10224753|   HY411489|2015-09-05 11:45:00|  080XX S JUSTINE ST|0497|           BATTERY|AGGRAVATED DOMEST...|           APARTMENT| false|   false|0612|     006|  21|            71|     04B|     1167400|     1851512|2015|02/10/2018 03:50:...|41.748097343|-87.662166183|(41.748097343, -8...|       6|       Gresham|   7808 S Halsted St|Chicago|   IL|60620|http://home.chica...|312-745-3617|312-745-3649|312-745-3639| 1172283.013| 1853022.646|41.75213684|-87.64422891|(41.7521368378, -...|           006|
|10224754|   HY411656|2015-09-05 13:30:00|007XX N LEAMINGTO...|1320|   CRIMINAL DAMAGE|          TO VEHICLE|              STREET| false|   false|1531|     015|  28|            25|      14|     1141889|     1904448|2015|02/10/2018 03:50:...|41.893869916|-87.754341096|(41.893869916, -8...|      15|        Austin|   5701 W Madison St|Chicago|   IL|60644|http://home.chica...|312-743-1440|312-743-1366|312-743-1485| 1138148.815| 1899399.078|41.88008346|-87.76819989|(41.8800834614, -...|           015|
|10224756|   HY410094|2015-07-08 00:00:00|103XX S TORRENCE AVE|0620|          BURGLARY|      UNLAWFUL ENTRY|               OTHER| false|   false|0434|     004|  10|            51|      05|     1195508|     1836950|2015|02/10/2018 03:50:...|41.707490122|-87.559650325|(41.707490122, -8...|       4| South Chicago|     2255 E 103rd St|Chicago|   IL|60617|http://home.chica...|312-747-7581|312-747-5276|312-747-9169| 1193131.299| 1837090.265|41.70793329|-87.56834912|(41.7079332906, -...|           004|
|10224757|   HY411388|2015-09-05 09:55:00|  088XX S PAULINA ST|0610|          BURGLARY|      FORCIBLE ENTRY|           RESIDENCE|  true|   false|2221|     022|  21|            71|      05|     1166554|     1846067|2015|02/10/2018 03:50:...|41.733173536|-87.665421067|(41.733173536, -8...|      22|   Morgan Park| 1900 W Monterey Ave|Chicago|   IL|60643|http://home.chica...|312-745-0710|312-745-0814|312-745-0569| 1165825.476| 1830851.333|41.69143478|-87.66852039|(41.6914347795, -...|           022|
|10224758|   HY411568|2015-09-05 12:35:00|    059XX W GRACE ST|0486|           BATTERY|DOMESTIC BATTERY ...|              STREET| false|    true|1633|     016|  38|            15|     08B|     1136014|     1924656|2015|02/10/2018 03:50:...|41.949429769|-87.775435529|(41.949429769, -8...|      16|Jefferson Park|5151 N Milwaukee Ave|Chicago|   IL|60630|http://home.chica...|312-742-4480|312-742-4421|312-742-4423| 1138480.758| 1933660.473|41.97409445|-87.76614884|(41.9740944511, -...|           016|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+--------+--------------+--------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+--------------+
only showing top 20 rows

In [17]:
df2.columns

['DISTRICT',
 'DISTRICT NAME',
 'ADDRESS',
 'CITY',
 'STATE',
 'ZIP',
 'WEBSITE',
 'PHONE',
 'FAX',
 'TTY',
 'X COORDINATE',
 'Y COORDINATE',
 'LATITUDE',
 'LONGITUDE',
 'LOCATION',
 'DistrictPadded']

In [18]:
#too big, dropping unwanted columns
df.join(df2, df.District == df2.DistrictPadded, 'left_outer').drop(
    'ADDRESS',
    'CITY',
    'STATE',
    'ZIP',
    'WEBSITE',
    'PHONE',
    'FAX',
    'TTY',
    'X COORDINATE',
    'Y COORDINATE',
    'LATITUDE',
    'LONGITUDE',
    'LOCATION',
    'DistrictPadded').show(5)

+--------+-----------+-------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+----+--------------------+--------+-------------+
|      ID|Case Number|               Date|               Block|IUCR|Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|Year|          Updated On|DISTRICT|DISTRICT NAME|
+--------+-----------+-------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+----+--------------------+--------+-------------+
|10224738|   HY411648|2015-09-05 13:30:00|     043XX S WOOD ST|0486|     BATTERY|DOMESTIC BATTERY ...|           RESIDENCE| false|    true|0924|     009|  12|            61|     08B|2015|02/10/2018 03:50:...|       9|      Deering|
|10224739|   HY411615|2015-09-04 11:30:00| 008XX N CENTRAL AVE|0870|       THEFT|      POCKET-PICKING|             CTA BUS| false|   false|1511|     015|  29|            25|      06|2015|02/10/2018 03:50:...|      15|       Austin|
|11646166|   JC213529|2018-09-01 00:01:00|082XX S INGLESIDE...|0810|       THEFT|           OVER $500|           RESIDENCE| false|    true|0631|     006|   8|            44|      06|2018|04/06/2019 04:04:...|       6|      Gresham|
|10224740|   HY411595|2015-09-05 12:45:00|   035XX W BARRY AVE|2023|   NARCOTICS|POSS: HEROIN(BRN/...|            SIDEWALK|  true|   false|1412|     014|  35|            21|      18|2015|02/10/2018 03:50:...|      14|  Shakespeare|
|10224741|   HY411610|2015-09-05 13:00:00| 0000X N LARAMIE AVE|0560|     ASSAULT|              SIMPLE|           APARTMENT| false|    true|1522|     015|  28|            25|     08A|2015|02/10/2018 03:50:...|      15|       Austin|
+--------+-----------+-------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+----+--------------------+--------+-------------+
only showing top 5 rows

### What is the most frequently reported non-criminal activity???

In [19]:

#a good way is to cache everything, but since I dont have enough memory...
# df.cache()
# df.count()

In [21]:
df.show(5)

+--------+-----------+-------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|               Date|               Block|IUCR|Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|10224738|   HY411648|2015-09-05 13:30:00|     043XX S WOOD ST|0486|     BATTERY|DOMESTIC BATTERY ...|           RESIDENCE| false|    true|0924|     009|  12|            61|     08B|     1165074|     1875917|2015|02/10/2018 03:50:...|41.815117282|-87.669999562|(41.815117282, -8...|
|10224739|   HY411615|2015-09-04 11:30:00| 008XX N CENTRAL AVE|0870|       THEFT|      POCKET-PICKING|             CTA BUS| false|   false|1511|     015|  29|            25|      06|     1138875|     1904869|2015|02/10/2018 03:50:...|41.895080471|-87.765400451|(41.895080471, -8...|
|11646166|   JC213529|2018-09-01 00:01:00|082XX S INGLESIDE...|0810|       THEFT|           OVER $500|           RESIDENCE| false|    true|0631|     006|   8|            44|      06|        null|        null|2018|04/06/2019 04:04:...|        null|         null|                null|
|10224740|   HY411595|2015-09-05 12:45:00|   035XX W BARRY AVE|2023|   NARCOTICS|POSS: HEROIN(BRN/...|            SIDEWALK|  true|   false|1412|     014|  35|            21|      18|     1152037|     1920384|2015|02/10/2018 03:50:...|41.937405765|-87.716649687|(41.937405765, -8...|
|10224741|   HY411610|2015-09-05 13:00:00| 0000X N LARAMIE AVE|0560|     ASSAULT|              SIMPLE|           APARTMENT| false|    true|1522|     015|  28|            25|     08A|     1141706|     1900086|2015|02/10/2018 03:50:...|41.881903443|-87.755121152|(41.881903443, -8...|
+--------+-----------+-------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 5 rows

In [23]:
#how many distinct rows are in the primary type column?
df.select(col('Primary Type')).distinct().count()

36

In [25]:
df.select(col('Primary Type')).distinct().orderBy(col('Primary Type')).show(36, truncate=False)

+---------------------------------+
|Primary Type                     |
+---------------------------------+
|ARSON                            |
|ASSAULT                          |
|BATTERY                          |
|BURGLARY                         |
|CONCEALED CARRY LICENSE VIOLATION|
|CRIM SEXUAL ASSAULT              |
|CRIMINAL DAMAGE                  |
|CRIMINAL SEXUAL ASSAULT          |
|CRIMINAL TRESPASS                |
|DECEPTIVE PRACTICE               |
|DOMESTIC VIOLENCE                |
|GAMBLING                         |
|HOMICIDE                         |
|HUMAN TRAFFICKING                |
|INTERFERENCE WITH PUBLIC OFFICER |
|INTIMIDATION                     |
|KIDNAPPING                       |
|LIQUOR LAW VIOLATION             |
|MOTOR VEHICLE THEFT              |
|NARCOTICS                        |
|NON - CRIMINAL                   |
|NON-CRIMINAL                     |
|NON-CRIMINAL (SUBJECT SPECIFIED) |
|OBSCENITY                        |
|OFFENSE INVOLVING CHILDREN       |
|OTHER NARCOTIC VIOLATION         |
|OTHER OFFENSE                    |
|PROSTITUTION                     |
|PUBLIC INDECENCY                 |
|PUBLIC PEACE VIOLATION           |
|RITUALISM                        |
|ROBBERY                          |
|SEX OFFENSE                      |
|STALKING                         |
|THEFT                            |
|WEAPONS VIOLATION                |
+---------------------------------+

In [28]:
nonCriminal = df.filter((col('Primary Type')=='NON - CRIMINAL') | (col('Primary Type')=='NON-CRIMINAL') | (col('Primary Type')=='NON-CRIMINAL (SUBJECT SPECIFIED)'))
nonCriminal.show(50, truncate=False)

+--------+-----------+-------------------+-----------------------+----+--------------------------------+-------------------------------------------+----------------------------------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------------------+------------+-------------+-----------------------------+
|ID      |Case Number|Date               |Block                  |IUCR|Primary Type                    |Description                                |Location Description                          |Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|Updated On            |Latitude    |Longitude    |Location                     |
+--------+-----------+-------------------+-----------------------+----+--------------------------------+-------------------------------------------+----------------------------------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------------------+------------+-------------+-----------------------------+
|10233370|HY421530   |2015-09-13 10:45:00|010XX S MENARD AVE     |5114|NON - CRIMINAL                  |FOID - REVOCATION                          |RESIDENCE                                     |true  |false   |1513|015     |29  |25            |26      |1137869     |1895239     |2015|02/10/2018 03:50:01 PM|41.868672696|-87.769327726|(41.868672696, -87.769327726)|
|10241515|HY429346   |2015-09-19 07:45:00|051XX N MILWAUKEE AVE  |5114|NON - CRIMINAL                  |FOID - REVOCATION                          |POLICE FACILITY/VEH PARKING LOT               |true  |false   |1623|016     |45  |11            |26      |1138424     |1933673     |2015|02/10/2018 03:50:01 PM|41.974129858|-87.766357256|(41.974129858, -87.766357256)|
|10277370|HY465290   |2015-10-16 20:00:00|100XX W OHARE ST       |5093|NON-CRIMINAL                    |LOST PASSPORT                              |AIRCRAFT                                      |false |false   |1651|016     |41  |76            |26      |1100658     |1934241     |2015|02/10/2018 03:50:01 PM|41.976290414|-87.905227221|(41.976290414, -87.905227221)|
|10280097|HY468448   |2015-10-19 18:50:00|033XX W OGDEN AVE      |5114|NON - CRIMINAL                  |FOID - REVOCATION                          |POLICE FACILITY/VEH PARKING LOT               |false |false   |1024|010     |24  |29            |26      |1154489     |1891024     |2015|02/10/2018 03:50:01 PM|41.856790413|-87.708424071|(41.856790413, -87.708424071)|
|10290745|HY478502   |2015-10-26 16:00:00|004XX W DIVERSEY PKWY  |5093|NON-CRIMINAL                    |LOST PASSPORT                              |SIDEWALK                                      |false |false   |1934|019     |44  |6             |26      |1172533     |1918887     |2015|02/10/2018 03:50:01 PM|41.932868651|-87.641368196|(41.932868651, -87.641368196)|
|10296800|HY485235   |2015-09-30 17:00:00|008XX N MAPLEWOOD AVE  |5093|NON-CRIMINAL                    |LOST PASSPORT                              |SIDEWALK                                      |false |false   |1211|012     |1   |24            |26      |1159246     |1905582     |2015|02/10/2018 03:50:01 PM|41.896642608|-87.690563055|(41.896642608, -87.690563055)|
|10300617|HY489191   |2015-11-03 15:00:00|031XX S HALSTED ST     |5114|NON - CRIMINAL                  |FOID - REVOCATION                          |RESIDENCE                                     |false |false   |0913|009     |11  |60            |26      |1171479     |1884120     |2015|02/10/2018 03:50:01 PM|41.837489008|-87.646264459|(41.837489008, -87.646264459)|
|10325994|HY516457   |2015-11-26 23:30:00|001XX W HUBBARD ST     |5093|NON-CRIMINAL                    |LOST PASSPORT                              |RESTAURANT                                    |false |false   |1831|018     |42  |8             |26      |1175301     |1903292     |2015|02/10/2018 03:50:01 PM|41.890013524|-87.631664996|(41.890013524, -87.631664996)|
|10157940|HY347539   |2015-07-08 10:30:00|016XX W CHICAGO AVE    |5093|NON-CRIMINAL                    |LOST PASSPORT                              |STREET                                        |false |false   |1215|012     |1   |24            |26      |1165158     |1905410     |2015|02/10/2018 03:50:01 PM|41.896047034|-87.668854221|(41.896047034, -87.668854221)|
|10181019|HY369010   |2015-08-01 10:15:00|079XX S KEDZIE AVE     |5114|NON - CRIMINAL                  |FOID - REVOCATION                          |RESIDENCE                                     |false |false   |0835|008     |18  |70            |26      |1156427     |1851731     |2015|02/10/2018 03:50:01 PM|41.748926157|-87.70236927 |(41.748926157, -87.70236927) |
|11249289|JB176638   |2016-12-23 12:00:00|0000X N CENTRAL AVE    |5093|NON-CRIMINAL                    |LOST PASSPORT                              |RESIDENCE                                     |false |false   |1513|015     |29  |25            |26      |null        |null        |2016|03/08/2018 03:55:51 PM|null        |null         |null                         |
|10202049|HY389275   |2015-08-19 18:38:00|025XX W MARQUETTE RD   |5114|NON - CRIMINAL                  |FOID - REVOCATION                          |APARTMENT                                     |false |false   |0832|008     |15  |66            |26      |1160388     |1860136     |2015|02/10/2018 03:50:01 PM|41.771910102|-87.687623385|(41.771910102, -87.687623385)|
|10813751|JA113073   |2003-03-17 20:00:00|029XX N MELVINA AVE    |5093|NON-CRIMINAL                    |LOST PASSPORT                              |RESIDENCE                                     |false |false   |2511|025     |29  |19            |26      |null        |null        |2003|01/14/2017 03:49:38 PM|null        |null         |null                         |
|10212100|HY398571   |2015-08-26 17:45:00|017XX S STATE ST       |0585|NON-CRIMINAL                    |NOTIFICATION OF STALKING - NO CONTACT ORDER|POLICE FACILITY/VEH PARKING LOT               |true  |false   |0131|001     |3   |33            |26      |1176607     |1891853     |2015|02/10/2018 03:50:01 PM|41.858594819|-87.627214427|(41.858594819, -87.627214427)|
|10213039|HY398172   |2015-08-26 11:45:00|0000X W TERMINAL ST    |5093|NON-CRIMINAL                    |LOST PASSPORT                              |AIRPORT TERMINAL UPPER LEVEL - SECURE AREA    |false |false   |1653|016     |41  |76            |26      |1101811     |1934419     |2015|02/10/2018 03:50:01 PM|41.976762981|-87.900983721|(41.976762981, -87.900983721)|
|10221247|HY406742   |2015-09-01 22:00:00|031XX W HARRISON ST    |5114|NON - CRIMINAL                  |FOID - REVOCATION                          |POLICE FACILITY/VEH PARKING LOT               |false |false   |1134|011     |24  |27            |26      |1155457     |1897193     |2015|02/10/2018 03:50:01 PM|41.873699424|-87.704705156|(41.873699424, -87.704705156)|
|10336794|HY527983   |2015-10-26 14:00:00|006XX N STATE ST       |5093|NON-CRIMINAL                    |LOST PASSPORT                              |OTHER                                         |false |false   |1832|018     |42  |8             |26      |1176262     |1904268     |2015|02/10/2018 03:50:01 PM|41.8926701  |-87.628106353|(41.8926701, -87.628106353)  |
|10344075|HY535016   |2015-12-12 20:50:00|025XX W 80TH PL        |5114|NON - CRIMINAL                  |FOID - REVOCATION                          |VEHICLE NON-COMMERCIAL                        |false |false   |0835|008     |18  |70            |26      |1160683     |1851174     |2015|02/10/2018 03:50:01 PM|41.747310961|-87.68678891 |(41.747310961, -87.68678891) |
|10351482|HY541941   |2015-12-13 08:30:00|100XX W OHARE ST       |5093|NON-CRIMINAL                    |LOST PASSPORT                              |AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA|false |false   |1651|016     |41  |76            |26      |1100658     |1934241     |2015|02/10/2018 03:50:01 PM|41.976290414|-87.905227221|(41.976290414, -87.905227221)|
|10371674|HZ107512   |2016-01-07 17:36:00|051XX S WENTWORTH AVE  |5073|NON-CRIMINAL (SUBJECT SPECIFIED)|NOTIFICATION OF CIVIL NO CONTACT ORDER     |JAIL / LOCK-UP FACILITY                       |false |true    |0225|002     |3   |37            |26      |1175826     |1871120     |2016|02/10/2018 03:50:01 PM|41.80171934 |-87.630703621|(41.80171934, -87.630703621) |
|10396040|HZ131825   |2016-01-04 18:00:00|008XX W ADDISON ST     |5114|NON-CRIMINAL                    |FOID - REVOCATION                          |HOSPITAL BUILDING/GROUNDS                     |false |false   |1923|019     |44  |6             |26      |1169826     |1924123     |2016|02/10/2018 03:50:01 PM|41.947295978|-87.651162974|(41.947295978, -87.651162974)|
|10397129|HZ133234   |2016-01-29 15:30:00|006XX W HARRISON ST    |5114|NON - CRIMINAL                  |FOID - REVOCATION                          |STREET                                        |false |false   |0124|001     |2   |28            |26      |1172257     |1897564     |2016|02/10/2018 03:50:01 PM|41.874363279|-87.643013039|(41.874363279, -87.643013039)|
|10401279|HZ137710   |2016-02-02 07:00:00|068XX S CRANDON AVE    |5114|NON - CRIMINAL                  |FOID - REVOCATION                          |APARTMENT                                     |false |false   |0331|003     |5   |43            |26      |1192506     |1859959     |2016|02/10/2018 03:50:01 PM|41.770702367|-87.569896036|(41.770702367, -87.569896036)|
|10405784|HZ142394   |2016-02-06 11:20:00|031XX W FRANKLIN BLVD  |5114|NON - CRIMINAL                  |FOID - REVOCATION                          |STREET                                        |true  |false   |1221|012     |27  |23            |26      |1155334     |1903164     |2016|02/10/2018 03:50:01 PM|41.890086914|-87.704996246|(41.890086914, -87.704996246)|
|10407502|HZ143549   |2016-02-07 11:00:00|100XX W OHARE ST       |5093|NON-CRIMINAL                    |LOST PASSPORT                              |AIRCRAFT                                      |false |false   |1651|016     |41  |76            |26      |1100658     |1934241     |2016|02/10/2018 03:50:01 PM|41.976290414|-87.905227221|(41.976290414, -87.905227221)|
|10410240|HZ146595   |2016-02-10 09:07:00|045XX W CONGRESS PKWY  |5114|NON - CRIMINAL                  |FOID - REVOCATION                          |RESIDENCE                                     |false |false   |1131|011     |24  |26            |26      |1146319     |1897308     |2016|02/10/2018 03:50:01 PM|41.874193745|-87.738252825|(41.874193745, -87.738252825)|
|10412587|HZ149851   |2016-02-13 00:11:00|031XX S HALSTED ST     |5114|NON - CRIMINAL                  |FOID - REVOCATION                          |POLICE FACILITY/VEH PARKING LOT               |true  |false   |0913|009     |11  |60            |26      |1171479     |1884120     |2016|02/10/2018 03:50:01 PM|41.837489008|-87.646264459|(41.837489008, -87.646264459)|
|10417135|HZ155024   |2016-02-17 16:02:00|028XX W CERMAK RD      |5114|NON-CRIMINAL                    |FOID - REVOCATION                          |STREET                                        |true  |false   |1033|010     |12  |30            |26      |1157790     |1889263     |2016|02/10/2018 03:50:01 PM|41.851891472|-87.696355505|(41.851891472, -87.696355505)|
|10422489|HZ160886   |2016-02-12 12:00:00|029XX S NORMAL AVE     |5093|NON-CRIMINAL                    |LOST PASSPORT                              |OTHER                                         |false |false   |0914|009     |11  |60            |26      |1173433     |1885534     |2016|02/10/2018 03:50:01 PM|41.841326028|-87.639052486|(41.841326028, -87.639052486)|
|10433951|HZ171487   |2016-03-02 08:30:00|035XX S MICHIGAN AVE   |5114|NON-CRIMINAL                    |FOID - REVOCATION                          |GOVERNMENT BUILDING/PROPERTY                  |false |false   |0213|002     |3   |35            |26      |1177772     |1881665     |2016|02/10/2018 03:50:01 PM|41.830611847|-87.623247369|(41.830611847, -87.623247369)|
|10440832|HZ179381   |2016-02-10 00:00:00|029XX N KILPATRICK AVE |5093|NON-CRIMINAL                    |LOST PASSPORT                              |APARTMENT                                     |false |false   |2521|025     |31  |19            |26      |1144535     |1919217     |2016|02/10/2018 03:50:01 PM|41.934348184|-87.744250537|(41.934348184, -87.744250537)|
|10441625|HZ177884   |2016-03-07 10:00:00|051XX S MOBILE AVE     |5114|NON-CRIMINAL                    |FOID - REVOCATION                          |RESIDENCE                                     |false |false   |0811|008     |23  |56            |26      |1135240     |1869914     |2016|02/10/2018 03:50:01 PM|41.799223854|-87.779578905|(41.799223854, -87.779578905)|
|10446561|HZ182837   |2016-03-11 08:30:00|0000X S CLARK ST       |5114|NON-CRIMINAL                    |FOID - REVOCATION                          |SIDEWALK                                      |false |false   |0122|001     |42  |32            |26      |1175543     |1900205     |2016|02/10/2018 03:50:01 PM|41.881537188|-87.630869076|(41.881537188, -87.630869076)|
|10450540|HZ187848   |2016-03-15 09:30:00|026XX W 63RD ST        |5114|NON-CRIMINAL                    |FOID - REVOCATION                          |SIDEWALK                                      |false |false   |0825|008     |15  |66            |26      |1160040     |1862784     |2016|02/10/2018 03:50:01 PM|41.779183752|-87.688826305|(41.779183752, -87.688826305)|
|10456342|HZ195839   |2016-03-21 17:05:00|033XX W OGDEN AVE      |5114|NON-CRIMINAL                    |FOID - REVOCATION                          |POLICE FACILITY/VEH PARKING LOT               |false |false   |1024|010     |24  |29            |26      |1154489     |1891024     |2016|02/10/2018 03:50:01 PM|41.856790413|-87.708424071|(41.856790413, -87.708424071)|
|10463621|HZ203036   |2016-03-25 00:01:00|031XX N LAKE SHORE DR  |5093|NON-CRIMINAL                    |LOST PASSPORT                              |RESIDENCE                                     |false |false   |1934|019     |44  |6             |26      |1173530     |1920922     |2016|02/10/2018 03:50:01 PM|41.938430626|-87.637643663|(41.938430626, -87.637643663)|
|10463935|HZ203544   |2016-02-27 15:00:00|050XX N SPRINGFIELD AVE|5093|NON-CRIMINAL                    |LOST PASSPORT                              |OTHER                                         |false |false   |1712|017     |39  |14            |26      |1149479     |1933134     |2016|02/10/2018 03:50:01 PM|41.972442835|-87.725718601|(41.972442835, -87.725718601)|
|10467662|HZ206450   |2016-01-13 12:00:00|022XX S PRINCETON AVE  |5093|NON-CRIMINAL                    |LOST PASSPORT                              |STREET                                        |false |false   |0914|009     |25  |34            |26      |1174562     |1889549     |2016|02/10/2018 03:50:01 PM|41.85231838 |-87.634789632|(41.85231838, -87.634789632) |
|10476440|HZ215497   |2016-03-31 18:00:00|049XX S PULASKI RD     |5093|NON-CRIMINAL                    |LOST PASSPORT                              |ALLEY                                         |false |false   |0821|008     |14  |57            |26      |1150535     |1871472     |2016|02/10/2018 03:50:01 PM|41.803215158|-87.723447017|(41.803215158, -87.723447017)|
|10499415|HZ240662   |2016-04-26 06:20:00|061XX S FRANCISCO AVE  |5114|NON-CRIMINAL                    |FOID - REVOCATION                          |RESIDENCE                                     |false |false   |0823|008     |15  |66            |26      |1158100     |1863778     |2016|02/10/2018 03:50:01 PM|41.781951111|-87.695911577|(41.781951111, -87.695911577)|
|10501094|HZ242219   |2016-04-05 21:00:00|0000X E CONGRESS PKWY  |5093|NON-CRIMINAL                    |LOST PASSPORT                              |HOTEL/MOTEL                                   |false |false   |0113|001     |2   |32            |26      |1176730     |1898080     |2016|02/10/2018 03:50:01 PM|41.875679322|-87.62657476 |(41.875679322, -87.62657476) |
|10511325|HZ252499   |2016-05-01 22:00:00|055XX N LINCOLN AVE    |5093|NON-CRIMINAL                    |LOST PASSPORT                              |BAR OR TAVERN                                 |false |false   |2011|020     |40  |4             |26      |1158220     |1936737     |2016|02/10/2018 03:50:01 PM|41.98215502 |-87.693477287|(41.98215502, -87.693477287) |
|10576557|HZ325106   |2016-06-23 12:15:00|004XX W NORTH AVE      |5114|NON-CRIMINAL                    |FOID - REVOCATION                          |APARTMENT                                     |false |false   |1821|018     |43  |8             |26      |1172925     |1910954     |2016|02/10/2018 03:50:01 PM|41.911091456|-87.640163298|(41.911091456, -87.640163298)|
|10577319|HZ326185   |2016-06-27 20:12:00|012XX E 71ST PL        |0585|NON-CRIMINAL                    |NOTIFICATION OF STALKING - NO CONTACT ORDER|APARTMENT                                     |true  |false   |0324|003     |5   |69            |26      |1185644     |1857852     |2016|02/10/2018 03:50:01 PM|41.765084959|-87.595115407|(41.765084959, -87.595115407)|
|10592395|HZ340883   |2016-06-25 09:00:00|059XX N LEADER AVE     |5093|NON-CRIMINAL                    |LOST PASSPORT                              |OTHER                                         |false |false   |1621|016     |45  |12            |26      |1141170     |1939151     |2016|02/10/2018 03:50:01 PM|41.9891116  |-87.756123562|(41.9891116, -87.756123562)  |
|10604826|HZ356522   |2016-07-07 09:00:00|035XX S WOOD ST        |5093|NON-CRIMINAL                    |LOST PASSPORT                              |RESIDENCE                                     |false |false   |0912|009     |11  |59            |26      |1164929     |1881227     |2016|02/10/2018 03:50:01 PM|41.829691573|-87.670381153|(41.829691573, -87.670381153)|
|10625887|HZ378355   |2016-08-02 09:00:00|054XX N ELSTON AVE     |5093|NON-CRIMINAL                    |LOST PASSPORT                              |GOVERNMENT BUILDING/PROPERTY                  |false |false   |1621|016     |45  |11            |26      |1140460     |1935678     |2016|02/10/2018 03:50:01 PM|41.97959452 |-87.758820763|(41.97959452, -87.758820763) |
|10638712|HZ390017   |2016-08-12 13:30:00|003XX W HURON ST       |5093|NON-CRIMINAL                    |LOST PASSPORT                              |OTHER                                         |false |false   |1831|018     |42  |8             |26      |1173958     |1905011     |2016|02/10/2018 03:50:01 PM|41.894760587|-87.63654578 |(41.894760587, -87.63654578) |
|10643356|HZ394709   |2016-08-15 11:00:00|019XX N KEDVALE AVE    |5093|NON-CRIMINAL                    |LOST PASSPORT                              |CHURCH/SYNAGOGUE/PLACE OF WORSHIP             |false |false   |2534|025     |30  |20            |26      |1148410     |1912535     |2016|02/10/2018 03:50:01 PM|41.915938216|-87.730182538|(41.915938216, -87.730182538)|
|10646361|HZ397306   |2016-08-18 12:15:00|010XX W 14TH PL        |5114|NON-CRIMINAL                    |FOID - REVOCATION                          |APARTMENT                                     |false |false   |1232|012     |25  |28            |26      |1169625     |1893228     |2016|02/10/2018 03:50:01 PM|41.86252264 |-87.652802708|(41.86252264, -87.652802708) |
+--------+-----------+-------------------+-----------------------+----+--------------------------------+-------------------------------------------+----------------------------------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------------------+------------+-------------+-----------------------------+
only showing top 50 rows

In [30]:
# the answer for the most non criminal reported activity
nonCriminal.groupBy(col('Description')).count().orderBy('count', ascending=False).show()

+--------------------+-----+
|         Description|count|
+--------------------+-----+
|       LOST PASSPORT|  111|
|   FOID - REVOCATION|   76|
|CONCEALED CARRY L...|   18|
|NOTIFICATION OF C...|    9|
|NOTIFICATION OF S...|    8|
|      FOUND PASSPORT|    4|
|GUN OFFENDER NOTI...|    3|
+--------------------+-----+